{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/Agendamentos.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <meta name="csrf-token" id="TOKEN" content="{{ csrf_token }}">
    <title>SA - Instituto Mix</title>
</head>
<body>

    <section id="Information">
        <ul>
            <li>Nome: </li>
            <li>Curso: </li>
            <li>Acompanhante: </li>
            <li>Celular: </li>
            <li>Data de Agendamento: </li>
            <li>Orientador: </li>
            <li>Status</li>
            <li>Presença</li>
            <li>Observações: </li>
        </ul>
    </section>

    <header>
        <ul id="Navbar">
            <li><a class="Options">Dashboard</a></li>
            <li><a class="Options">Sair</a></li>
        </ul>
    </header>

    <main id="Agendamentos">
        <!-- <ul class="Dia">
            <header>Domingo 01/02</header>
            <section>
                <ul class="Agendamento">
                    <li><span>Nome:</span> Heric</li>
                    <li><span>Curso:</span> Informatica</li>
                    <li><span>Orientador:</span> Gustavo</li>
                    <li><span>Horário:</span> 10:00</li>
                    <i></i>
                </ul>
            </section>
        </ul> -->
    </main>

    <footer id="DataPicker">
        <ul id="AgendamentosFooter">
            <li><a class="Options">Adicionar Agendamento</a></li>
            <li><a class="Options">Editar Agendamento</a></li>
            <li><a class="Options">Excluir Agendamento</a></li>
            <li><input type="text" id="Data" placeholder="Selecione a data"></li>
        </ul>
    </footer>
    
    <script src="{% static 'scripts/Agendamentos.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/pt.js"></script>
</body>
</html>