*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(8px, 1.2dvw, 18px);
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

html{
    background-color: #202020;
}

body{
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100dvh;
}

/* Header Section */

body > header{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 2%;
    width: 100%;
    height: 10%;
    background-color: #ffffff0a;
}

#Navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
}

.Options{
    color: #ffffff;
    user-select: none;
    cursor: pointer;
    transition: 500ms;
    border-bottom: 1px solid #ffffff00;
}

.Options:hover{
    transition: 200ms;
    border-bottom: 1px solid #ffffff;
}

/* Main Section */

#Agendamentos{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: overlay;
    padding: 5px 10px;
    width: 100%;
    height: 80%;
    border-top: 2px solid #ffffff20;
    border-bottom: 2px solid #ffffff20;
}

.Dia{
    min-width: 20%;
    width: 20%;
    height: 100%;
    border: 1px solid #ffffff20;
}

.Dia > header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(25px, 5%, 35px);
    color: #ffffff;
    border-bottom: 2px solid #ffffff20;
}

/* Footer Section */

#DataPicker{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #ffffff0a;
}

#AgendamentosFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#Data {
    text-align: center;
    background-color: #202020;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 5px;
    min-width: 310px;
}