*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(8px, 1.2dvw, 16px);
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style-type: none;
}


img{
    user-select: none;
}

html{
    background-color: #202020;
}

body{
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;
}

:root{
    --Ball: 75px;
}

/* Animations */

@keyframes ___{
    
}

/* Dashboard */

#Dashboard{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 60px;
    min-width: 100%;
    height: 100dvh;
    background-color: #202020;
    z-index: 1;
    border: 1px solid #ffffff;
    transition: 500ms linear;

    img{
        height: 50px;
        position: absolute;
        right: 2.5%;
        top: 0.5%;
        cursor: pointer;

        &:hover{
            filter: brightness(75%);
        }
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-width: none;
        width: 100%;
        height: 50%;
        border: 1px solid #ffffff;

        li{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}

/* delete costumer */

#DeleteConfirmationContainer{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff00;
    position: absolute;
    width: 60%;
    height: 20%;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff;
    z-index: 10;
}

#DeleteConfirmationContainer > li{
    font-size: 1.25rem;
    color: #ffffff;
}

#DeleteConfirmationContainer > li:last-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}


#DeleteConfirmationContainer > li:last-child button{
    padding: 5px 20px;
}

/* Registration Section */

#RegistrarContainer{
    z-index: 5;
    position: absolute;
    background-color: #ffffff20;
    backdrop-filter: blur(2.5px);
    opacity: 0;
    padding: 5%;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: 500ms linear;
}

#RegistrarContainer > header{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0% 10px;
    width: 100%;
    height: 10%;
}

#RegistrarContainer > header > img{
    position: relative;
    top: -20px;
}

#RegistrarContainer > header > img:hover{
    cursor: pointer;
    filter: brightness(75%);
}


#Registrar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.15fr);
    gap: 20px;
}

#Registrar *::placeholder{
    color: #ffffff80;
}

#Registrar input, #Registrar select, #Registrar button, #Registrar option{
    color: #ffffff;
    background-color: #202020;
    padding: 5px;
    border: 1px solid #ffffff;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#Registrar textarea{
    border: 1px solid #ffffff;
}

#Observacoes{
    padding: 10px;
    background-color: #202020;
    outline: none;
    color: #ffffff;
    grid-column: span 2;
}

#RegistrarButton{
    place-self: center;
    grid-column: span 2;
    width: 20%;
    height: 30%;
}

/* Information Section */

#Information{
    position: absolute;
    background-color: #202020;
    width: 100%;
    height: 100%;
    padding: 1%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 5;
    transition: 300ms linear;
}

#InformationOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1%;
    width: 100%;
    height: 7.5%;
    border: 2px solid #ffffff60;
    border-bottom: 1px solid #ffffff20;
}

#InformationOptions > li{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 10%;
    height: 100%;
    padding: 5px 0px;
}

#InformationOptions > li:has(img + img){
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 10%;
}

#InformationOptions img{
    height: 100%;
    cursor: pointer;
    transition: 200ms;
}

#InformationOptions > li img:hover{
    cursor: pointer;
    filter: brightness(150%);
}

.EditOptions{
    color: #ffffff;
    width: 100%;
    padding: 5px;
    background-color: #202020;
    border: 1px solid #ffffff20;
}

.EditOptions:last-child{
    resize: none;
    height: 100%;
}

.Salvar{
    grid-column: span 2;
    place-self: center;
    width: 30%;
    height: 40%;
    background-color: #00cc00;
    color: #fff;
}

.Salvar:hover{
    background-color: #00bb00;
    cursor: pointer;
}

#Dados{
    border: 2px solid #ffffff60;
    border-top: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, clamp(50px, 10%, 75px)) 1fr 0.5fr;
    gap: 1%;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}


#Dados img{
    max-height: 1.5dvw;
}

#Dados li:nth-child(9){
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-column: span 2;
    padding: 10px 15%;
}

#Dados li{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    border: 1px solid #ffffff40;
    font-weight: bold;
    font-size: 1.1rem;
}

#Dados span{
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header Section */

body > header{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 2%;
    width: 100%;
    height: 7.5%;
    background-color: #ffffff0a;
}

#Navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
}

.Options{
    color: #ffffff;
    user-select: none;
    cursor: pointer;
    transition: 500ms;
    border-bottom: 1px solid #ffffff00;
}

.Options:hover{
    transition: 200ms;
    border-bottom: 1px solid #ffffff;
}

/* Main Section */

#Agendamentos{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: overlay;
    gap: 20px;
    padding: 5px 10px;
    width: 100%;
    height: 85%;
    border-top: 2px solid #ffffff20;
    border-bottom: 2px solid #ffffff20;
}

.editbtn{
    top: 5px;
    right: 5px;
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 1;
    background-image: url('../Edit.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.editbtn:hover{
    filter: brightness(120%);
}

.Dia{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    min-width: 200px;
    width: 20%;
    height: calc(100% - 10px);
    border: 1px solid #ffffff20;
    overflow: hidden;
}

.Dia > header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff20;
}

.Dia > section{
    height: calc(100% - 50px);
    position: relative;
    padding-top: 5px;
    display: flex;
    overflow-y: overlay;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.Agendamento{
    background-color: #202020;
    border-radius: 10px ;
    width: 95%;
    height: 20dvh;
    max-height: 125px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: #ffffff !important;
    border: 2px solid #ffffff20;
    box-shadow: 0 0 5px #000000;
    padding: 10px 0px;
    padding-left: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.Agendamento > i.ball{
    position: absolute;
    content: '';
    width: 175px;
    height: 175px;
    background-color: #ffffff;
    bottom: -125px;
    right: -125px;
    border-radius: 100%;
    filter: blur(2.5px);
    transition: 250ms linear;
}

.Agendamento:hover > i.ball{
    transition: 750ms linear;
    width: 500px;
    height: 500px;
    z-index: 0;
}

.Agendamento > li, .Agendamento > li > span{
    font-size: 0.75rem;
    color: #ffffff !important;
    z-index: 2;
}

.Agendamento > li > span{
    font-weight: bold;
}

/* Footer Section */

#DataPicker{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 7.5%;
    background-color: #ffffff0a;
}

#AgendamentosFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#AgendamentosFooter > li{
    height: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 500ms linear;
    color: #ffffff;
    padding-bottom: 1px;
    cursor: pointer;

    &:first-child:hover{
        border-bottom: 1px solid #ffffff;
    }
}

#AgendamentosFooter > li > img{
    height: 100%;
}

#Data {
    text-align: center;
    background-color: #202020;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 5px;
    min-width: 310px;
}

@media screen and (max-width: 768px) {
    
    .Agendamento > li, .Agendamento > li > span{
        font-size: 1.4rem;
        color: #ffffff !important;
        z-index: 2;
    }

    .Options{
        display: none;
        visibility: none;
    }

    #AgendamentosFooter{
        justify-content: center;
        align-items: center;

        li{
            &:first-child{
                position: absolute;
                top: -92.5dvh;

                .Options{
                    visibility: visible;
                    display: flex;
                }
            }
        }
    }
}