*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(8px, 1.2dvw, 18px);
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}

html{
    background-color: #202020;
}

body{
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100dvh;
}

#Navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #202020;
    padding: 0% 2.5%;
    border-bottom: 2px solid #ffffff10;
}

#Navegador > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    max-width: 50%;
    height: 100%;
    padding: 0% 2.5%;
}


/* Costumizações Globais */

.UnderlinePersonalizada{
    position: relative;  
}

.UnderlinePersonalizada::after, .UnderlinePersonalizada::before{
    position: absolute;
    bottom: -25%;
    content: '';
    min-width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: 200ms;
}

.UnderlinePersonalizada::before{
    left: 50%;
}

.UnderlinePersonalizada::after{
    right: 50%;
}

.UnderlinePersonalizada:hover:after, .UnderlinePersonalizada:hover:before{
    min-width: 50%;
}